<!DOCTYPE HTML>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="index.css"/>
</head>
<body>

<div id="clu">
    <el-card shadow="always" class="users">
        <el-button v-for="user in users" type="primary">{{user.userId}} vs {{user.word}}</el-button>
    </el-card>

    <el-card class="word">{{word}}</el-card>
    <div id="me">
        <el-input v-model="input_word" class="input"></el-input>
        <el-button type="primary" v-on:click="submit_answer" round class="btn">抢答</el-button>
    </div>
</div>

<style>
</style>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript" src="index.js"></script>
</html>
