<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="index.css"/>
</head>
<body>

<div id="clu">
    <el-container>
        <el-header>Header</el-header>
        <el-container>
            <el-aside>
                <div class="user" v-for="user in users">
                    <el-avatar :src="circleUrl"></el-avatar>
                    <el-badge v-model="user.word" class="item"></el-badge>
                    <el-badge v-model="user.userId" class="item"></el-badge>
                </div>
            </el-aside>
            <el-main>
                <el-card class="word">{{word}}</el-card>
                <div class="me-input">
                    <el-input v-model="input_word"/>
                </div>

            </el-main>

        </el-container>
    </el-container>
</div>

<style>
</style>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript" src="index.js"></script>
</html>
