
.el-container {
    height: 600px;
    border: 1px solid dodgerblue;
}

.el-aside {
    flex: 1;
    border: 1px solid olivedrab;

}

.el-main {
    flex: 6;
    border: 1px solid antiquewhite;
}

.user {
    margin: 10px;
    border: 1px solid cadetblue;
}

.word {
    line-height: 200px;
    text-align: center;
}

.me-input {
    margin: 20px auto auto;
    width: 30%;
}

