<!DOCTYPE HTML>
<head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>

<div id="clu">
    <el-card shadow="always" class="users">
        <el-button v-for="user in users" type="primary">{{user.id}} vs {{user.word}}</el-button>
    </el-card>

    <el-card class="word">{{word}}</el-card>
    <div id="me">
        <el-input v-model="input_word" class="input"></el-input>
        <el-button type="primary" v-on:click="submit_answer" round class="btn">抢答</el-button>
    </div>
</div>

<script type="text/javascript">
    const SID = {
        SYSTEM_ERROR: 0,
        BUSINESS_EXCEPTION: 1,
        USER_CONNECT: 100,
        HOMEPAGE: 101,
        USER_ANSWER: 102,
        NEW_WORD: 103,
        USER_DISCONNECT: 104,
    }
    const CID = {
        HOMEPAGE: 100,
        ANSWER: 101,
    }
    Object.freeze(SID)
    Object.freeze(CID)
    var vm = new Vue({
        el: '#clu',
        data: {
            word: "",
            input_word: "",
            userId: 0,
            users: []

        },
        methods: {
                submit_answer: function (event) {
                    ws.send(JSON.stringify({'cid': 101, 'body': this.input_word}))
                },
                notifyResult: function (correct) {
                    if (correct) {
                        this.$message({
                            message: '回答正确',
                            type: 'success'
                        });
                    } else {
                        this.$message({
                            message: '回答错误',
                            type: 'warning'
                        })
                    }
                }
            }
        }
    )
    var data = vm.$data;
    // 打开一个 web socket
    var ws = new WebSocket("ws://localhost:8080");
    ws.onopen = function () {
        // Web Socket 已连接上，使用 send() 方法发送数据
        ws.send(JSON.stringify({'cid': 100, 'body': ''}))
    };
    ws.onmessage = function (evt) {
        var received_msg = evt.data;
        console.log(received_msg);
        result = JSON.parse(received_msg);
        sid = result['sid'];
        if (sid === SID.SYSTEM_ERROR || sid === SID.BUSINESS_EXCEPTION) {
            vm.$message(received_msg);
            return;
        }
        var body = result.body;
        switch (sid) {
            case SID.USER_CONNECT:
                if (body.userId !== data.userId) {
                    data.users.push({id: body.userId, word: ""})
                    data.users.sort()
                }
                break;
            case SID.HOMEPAGE:
                data.userId = body.userId;
                data.word = body.curIdiom;
                body.userIds.sort();
                body.userIds.forEach((uid, idx) => {
                    if (uid !== data.userId) {
                        data.users.push({id: uid, word: ""})
                    }
                });
                break;
            case SID.NEW_WORD:
                user = data.users.find((user) => user.id === body['id'])
                if (user !== undefined) {
                    console.log(user)
                    user.word = body['word'];
                }
                if (body['id'] === data.userId) {
                    vm.notifyResult(body['correct'])
                }

                break;
            case SID.USER_DISCONNECT:
                data.word = body['word'];
                break;
            case 104:
                var index = data.users.findIndex((val, idx) => {
                    return val.userId === body['id'];
                })
                if (index !== undefined && index >= 0) {
                    data.users.splice(index, 1)
                }
                break;

        }


    };
    ws.onclose = function () {
        // 关闭 websocket
        vm.$message("连接已关闭...");
    }
</script>
<style>
    .users {
        width: 60%;
        margin: auto;
        margin-top: 20px;
    }

    .word {
        width: 60%;
        margin: auto;
        text-align: center;
        color: #DB8E71;
        margin-top: 20px;
    }

    .input {
        display: block;
        width: 30%;
        margin: auto;
        margin-top: 20px;
    }

    .btn {
        display: block;
        margin: auto;
        margin-top: 20px;
    }
</style>
</body>
</html>
